<div class="show-box">
	<div class="show-content">
		<h2 class="show-title">Title</h2>
		<p class="show-text"><%= @list.title %></p>
		<h2 class="show-title">Text</h2>
		<p class="show-text"><%= @list.body %></p>
		<h2 class="show-title">Image</h2>
	<%= attachment_image_tag @list, :image, :fill, 300, 300, format: 'jpeg' %>

	<br><%= link_to "編集", edit_todolist_path(@list.id) %>
	<%= link_to "削除", destroy_todolist_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
	</div>
</div>